<a href="https://colab.research.google.com/github/Animeshcoder/MySQL-Python/blob/main/Python_MySQL_P6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Introduction:**
This project is a Python script that demonstrates how to identify and remove duplicate rows from a MySQL database table. The script defines a list of SQL statements that are used to perform this task in three steps. The first step uses a self-join to identify rows in the table that have the same values for the Name, Phone No, and Age columns. The second step updates NULL values in one row with values from the other row. The third step removes duplicate rows from the table. This project can serve as a starting point for building more complex data processing pipelines that involve cleaning and deduplicating data in a MySQL database.

### **Steps Involved:**

**Step 1: Connect to the database**

The first part of the script sets up the connection details for the MySQL database and creates a connection object using PyMySQL’s connect function. The user, password, host, and database arguments are passed to this function as a dictionary to specify the connection details.

**Step 2: Define SQL statements**

Next, a list of SQL statements is defined that will be used to identify and remove duplicate rows from the table. The first statement is a SELECT statement that uses a self-join to identify rows in the table that have the same values for the Name, Phone No, and Age columns. The second statement is an UPDATE statement that updates NULL values in one row with values from the other row. The third statement is a DELETE statement that removes duplicate rows from the table.

**Step 3: Execute SQL statements**

A cursor object is created using the cursor method of the connection object. This cursor is used to execute the first SQL statement in the list and fetch all rows of the result set. The remaining SQL statements in the list are then executed one by one using a loop.

**Step 4: Commit changes and close connection**

After all SQL statements have been executed, any changes made to the database are committed by calling the connection object’s commit method. Finally, both cursor and connection objects are closed by calling their respective close methods.

In [ ]:
import pymysql

# Replace these values with your MySQL connection details
db_config = {
    'user': 'youruser',
    'password': 'yourpassword@123',
    'host': 'yourhost',
    'database': 'yourdatabasename'
}

# Connect to the MySQL database
cnx = pymysql.connect(**db_config)
cursor = cnx.cursor()

# Define the SQL statements
sql_statements = [
    """
    -- Step 1: Identify matching rows using a self-join
    SELECT t1.*, t2.*
    FROM table t1
    JOIN table t2
    ON t1.`Name` = t2.`Name` AND t1.`Phone No` = t2.`Phone No` AND t1.`Age` = t2.`Age`
    WHERE t1.id < t2.id;
    """,
    """
    -- Step 2: Update NULL values in one row with values from the other row
    UPDATE table t1
    JOIN table t2
    ON t1.`Name` = t2.`Name` AND t1.`Phone No` = t2.`Phone No` AND t1.`Age` = t2.`Age`
    SET t1.`Date of Birth` = COALESCE(t1.`Date of Birth`, t2.`Date of Birth`),
    WHERE t1.id < t2.id;

""",
"""
-- Step 3: Delete duplicate rows from the table
DELETE FROM ntable
WHERE id NOT IN (
SELECT * FROM (
SELECT MIN(id)
FROM ntable
GROUP BY `Name`, `Phone No`, `Age`
) AS x
);
"""
]

# Execute the first SQL statement and fetch all rows of the result set
cursor.execute(sql_statements[0])
rows = cursor.fetchall()

# Execute the remaining SQL statements one by one
for sql in sql_statements[1:]:
    cursor.execute(sql)

# Commit the changes to the database
cnx.commit()

# Close the cursor and connection
cursor.close()
cnx.close()