<a href="https://colab.research.google.com/github/Animeshcoder/MySQL-Python/blob/main/Python_MySQL_P7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Introduction:**

This code is written in Python and uses the mysql.connector library to connect to a MySQL database. The purpose of the code is to extract data from an existing table in the database, transform it, and insert it into a new table.
 This code is taking values and their corresponding IDs from an existing table in a MySQL database. It then creates a new table and checks which column each ID belongs to in the new table. Based on this information, it inserts the values into the appropriate columns of the new table.

**Import the mysql.connector library:** This library is used to connect to a MySQL database from Python.

In [ ]:
import mysql.connector

**Establish a connection to the MySQL database:** Use the connect method from the mysql.connector library and provide the necessary credentials such as host, user, password, and database name.

In [ ]:
mydb = mysql.connector.connect(
  host="yourhost",
  user="youruser",
  password="yourpassword@123",
  database="yourdatabasename"
)

**Create a cursor object:** Use the cursor method of the connection object to create a cursor object. This cursor is used to execute SQL queries on the database.

In [ ]:
mycursor = mydb.cursor()

**Define lists of IDs for each column in the new table:** Define lists of IDs that correspond to each column in a new table that will be created. These lists are used later in the code to extract values from an existing table and insert them into the new table.

In [ ]:
name_ids = ['1', '2', '3', '4', '5']
phone_no_ids = ['6', '7', '8', '9', '10']
date_of_birth_ids = ['11', '12', '13', '14', '15']
age_ids = ['16', '17', '18', '19', '20']

**Create a new table in the database:** Use the execute method of the cursor object and provide an SQL query to create a new table with the desired columns.

In [ ]:
mycursor.execute("CREATE TABLE newtable (`Name` VARCHAR(255), `Phone No` VARCHAR(200), `Date of Birth` VARCHAR(300), `Age` VARCHAR(25)")

**Construct an SQL query to select values from an existing table:** Construct an SQL query to select values and their corresponding IDs from an existing table. The query uses placeholders for the IDs, which are later replaced with the actual values using string formatting.

In [ ]:
query = "SELECT IDs, Value FROM tablename WHERE IDs IN (%s)"
_ids = name_ids + phone_no_ids + date_of_birth_ids + age_ids
in_p = ', '.join(list(map(lambda x: '%s', _ids)))
query = query % in_p

**Execute the query and fetch the results:** Execute the query using the execute method of the cursor object, providing the query and a tuple of IDs as arguments. Fetch the results of the query using the fetchall method of the cursor object.

In [ ]:
mycursor.execute(query, tuple(_ids))
results = mycursor.fetchall()

**Initialize an empty dictionary to store row data:** Initialize an empty dictionary to store row data for insertion into the new table.

In [ ]:
row_data = {}

**Iterate over the results and insert values into the new table:** Iterate over the results of the query, checking if each ID is in one of the predefined lists of IDs. If it is, determine which column in the new table it corresponds to and add it to the row data dictionary.
Once all values for a row have been added to the row data dictionary, construct an INSERT statement using string formatting to insert the row into the new table. Execute the statement using the execute method of the cursor object, providing the INSERT statement and a tuple of values as arguments. Commit the changes to the database using the commit method of the connection object.

This process is repeated for all rows in the results until all data has been inserted into the new table

In [ ]:
for _id, value in results:
    if _id in name_ids:
        # Start a new row if a IDs from name_ids is encountered
        if row_data:
            columns = ', '.join([f'`{column}`' for column in row_data.keys()])
            values = tuple(row_data.values())
            placeholders = ', '.join(['%s'] * len(values))
            mycursor.execute(f"INSERT INTO newtable ({columns}) VALUES ({placeholders})", values)
            mydb.commit()
            row_data = {}

        column_name = "Name"
    elif _id in phone_no_ids:
        column_name = "Phone No"
    elif _id in date_of_birth_ids:
        column_name = "Date of Birth"
    elif _id in age_ids:
        column_name = "Age"
    else:
        continue

    row_data[column_name] = value

# Insert last row of data into new table
if row_data:
    columns = ', '.join([f'`{column}`' for column in row_data.keys()])
    values = tuple(row_data.values())
    placeholders = ', '.join(['%s'] * len(values))
    mycursor.execute(f"INSERT INTO newtable ({columns}) VALUES ({placeholders})", values)
    mydb.commit()